.vscode
.tanstack
.cursor

dist
vendor
node_modules

.env

apps/server/storage/database.db

workspace/apps/server/node_modules
workspace/apps/server/drizzle
workspace/apps/server/openapi

workspace/apps/ui/openapi

tsconfig.tsbuildinfo
