# Server Application
HOST=0.0.0.0
PORT=8080
LOG_LEVEL=info

# LLM - https://ollama.com/library/
# Docker Compose: http://ollama:11434 (service name on app-network)
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=deepseek-r1:8b

# DB - https://orm.drizzle.team/docs/
DATABASE_URL=file:./storage/database.db

# ELI Docs
ELI_DOCS_URL=https://api.sejm.gov.pl/eli/openapi/
